<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Información General</h3>
        <div class="campo">
            <label>Titulo</label>
            <input type="text" class="text" name="titulo" placeholder="Ej:Policia" required>
        </div>
    </form>
</main>